In [1]:
import numpy as np
from nba_api.stats.static import players
from nba_api.stats.endpoints import playergamelog
import pandas as pd

lebron_list = players.find_players_by_full_name("LeBron James")
if lebron_list:
    # We assume the first matching result is LeBron James (typically his full_name is "LeBron James")
    lebron = lebron_list[0]
    player_id = lebron['id']
    print("LeBron James player ID:", player_id)
else:
    raise Exception("Player not found.")

LeBron James player ID: 2544

In [8]:
import time


regular_season_career = pd.DataFrame()
playoff_career = pd.DataFrame()

# Define the range of seasons; LeBron's rookie season was 2003-04.
# For example, to get seasons from 2003-04 up to 2022-23:
start_year = 2003
end_year = 2025  # end_year is the starting calendar year for the season, e.g., 2022-23 season => 2022

# Loop over each season
for season_year in range(start_year, end_year):
    # Format the season string as "YYYY-YY"
    season_str = f"{season_year}-{str(season_year + 1)[-2:]}"
    print(f"\nFetching game logs for season: {season_str}")

    # Regular Season
    try:
        reg_logs = playergamelog.PlayerGameLog(player_id=player_id, season=season_str, season_type_all_star='Regular Season')
        reg_df = reg_logs.get_data_frames()[0]
        # Add season info as a new column
        reg_df['SEASON'] = season_str
        regular_season_career = pd.concat([regular_season_career, reg_df], ignore_index=True)
        print(f"  Regular season games fetched: {len(reg_df)}")
    except Exception as e:
        print(f"  Could not fetch regular season logs for {season_str}: {e}")

    # Playoffs
    try:
        playoff_logs = playergamelog.PlayerGameLog(player_id=player_id, season=season_str, season_type_all_star='Playoffs')
        playoff_df = playoff_logs.get_data_frames()[0]
        playoff_df['SEASON'] = season_str
        playoff_career = pd.concat([playoff_career, playoff_df], ignore_index=True)
        print(f"  Playoff games fetched: {len(playoff_df)}")
    except Exception as e:
        print(f"  Could not fetch playoff logs for {season_str}: {e}")

    # Optional: pause to be respectful with API calls (avoid hitting rate limits)
    time.sleep(1)

# Display the first few rows of the complete career logs
print("\nComplete Regular Season Career Game Logs:")
print(regular_season_career.head())

print("\nComplete Playoff Career Game Logs:")
print(playoff_career.head())

Fetching game logs for season: 2003-04
  Regular season games fetched: 79
  Playoff games fetched: 0

Fetching game logs for season: 2004-05
  Regular season games fetched: 80
  Playoff games fetched: 0

Fetching game logs for season: 2005-06
  Regular season games fetched: 79

/var/folders/jm/k0sbz0kn3lv4fr42mlqlgyz40000gn/T/ipykernel_90653/1451436411.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  playoff_career = pd.concat([playoff_career, playoff_df], ignore_index=True)

  Playoff games fetched: 13

Fetching game logs for season: 2006-07
  Regular season games fetched: 78
  Playoff games fetched: 20

Fetching game logs for season: 2007-08
  Regular season games fetched: 75
  Playoff games fetched: 13

Fetching game logs for season: 2008-09
  Regular season games fetched: 81
  Playoff games fetched: 14

Fetching game logs for season: 2009-10
  Regular season games fetched: 76
  Playoff games fetched: 11

Fetching game logs for season: 2010-11
  Regular season games fetched: 79
  Playoff games fetched: 21

Fetching game logs for season: 2011-12
  Regular season games fetched: 62
  Playoff games fetched: 23

Fetching game logs for season: 2012-13
  Regular season games fetched: 76
  Playoff games fetched: 23

Fetching game logs for season: 2013-14
  Regular season games fetched: 77
  Playoff games fetched: 20

Fetching game logs for season: 2014-15
  Regular season games fetched: 69
  Playoff games fetched: 20

Fetching game logs for season: 2015-16
  Regular season games fetched: 76
  Playoff games fetched: 21

Fetching game logs for season: 2016-17
  Regular season games fetched: 74
  Playoff games fetched: 18

Fetching game logs for season: 2017-18
  Regular season games fetched: 82
  Playoff games fetched: 22

Fetching game logs for season: 2018-19
  Regular season games fetched: 55

/var/folders/jm/k0sbz0kn3lv4fr42mlqlgyz40000gn/T/ipykernel_90653/1451436411.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  playoff_career = pd.concat([playoff_career, playoff_df], ignore_index=True)

  Playoff games fetched: 0

Fetching game logs for season: 2019-20
  Regular season games fetched: 67
  Playoff games fetched: 21

Fetching game logs for season: 2020-21
  Regular season games fetched: 45
  Playoff games fetched: 6

Fetching game logs for season: 2021-22
  Regular season games fetched: 56

/var/folders/jm/k0sbz0kn3lv4fr42mlqlgyz40000gn/T/ipykernel_90653/1451436411.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  playoff_career = pd.concat([playoff_career, playoff_df], ignore_index=True)

  Playoff games fetched: 0

Fetching game logs for season: 2022-23
  Regular season games fetched: 55
  Playoff games fetched: 16

Fetching game logs for season: 2023-24
  Regular season games fetched: 71
  Playoff games fetched: 5

Fetching game logs for season: 2024-25
  Regular season games fetched: 69
  Playoff games fetched: 0

/var/folders/jm/k0sbz0kn3lv4fr42mlqlgyz40000gn/T/ipykernel_90653/1451436411.py:34: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  playoff_career = pd.concat([playoff_career, playoff_df], ignore_index=True)

Complete Regular Season Career Game Logs:
  SEASON_ID  Player_ID     Game_ID     GAME_DATE      MATCHUP WL  MIN  FGM  \
0     22003       2544  0020301179  APR 14, 2004    CLE @ NYK  W   35    8
1     22003       2544  0020301162  APR 12, 2004  CLE vs. MIL  W   45    9
2     22003       2544  0020301151  APR 10, 2004  CLE vs. MIA  W   32    4
3     22003       2544  0020301137  APR 09, 2004    CLE @ MIA  L   42    6
4     22003       2544  0020301128  APR 07, 2004    CLE @ MEM  L   36    4

   FGA  FG_PCT  ...  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  \
0   17   0.471  ...    1    5    3    0    5   1   17          -6
1   20   0.450  ...    7    9    2    0    1   1   27          11
2   11   0.364  ...    3   11    0    0    2   3   10          14
3   14   0.429  ...    7    8    1    0    8   2   24         -16
4   11   0.364  ...    3    5    3    0    2   4   14         -11

   VIDEO_AVAILABLE   SEASON
0                0  2003-04
1                0  2003-04
2                0  2003-04
3                0  2003-04
4                0  2003-04

[5 rows x 28 columns]

Complete Playoff Career Game Logs:
  SEASON_ID Player_ID     Game_ID     GAME_DATE      MATCHUP WL MIN FGM FGA  \
0     42005      2544  0040500207  MAY 21, 2006    CLE @ DET  L  47  11  24
1     42005      2544  0040500206  MAY 19, 2006  CLE vs. DET  L  48   8  20
2     42005      2544  0040500205  MAY 17, 2006    CLE @ DET  W  47  13  30
3     42005      2544  0040500204  MAY 15, 2006  CLE vs. DET  W  48   8  23
4     42005      2544  0040500203  MAY 13, 2006  CLE vs. DET  W  48   9  18

   FG_PCT  ... REB AST  STL BLK TOV  PF PTS PLUS_MINUS VIDEO_AVAILABLE  \
0   0.458  ...   8   2    1   0   3   2  27        -16               0
1   0.400  ...  11   5    1   1   7   2  32         -2               0
2   0.433  ...   5   5    2   1   2   3  32          2               0
3   0.348  ...   8   9    2   2   8   3  22          2               0
4   0.500  ...  10  10    4   1   4   2  21          9               0

    SEASON
0  2005-06
1  2005-06
2  2005-06
3  2005-06
4  2005-06

[5 rows x 28 columns]

In [14]:
print(regular_season_career.head())
print(regular_season_career.columns)

  SEASON_ID  Player_ID     Game_ID     GAME_DATE      MATCHUP WL  MIN  FGM  \
0     22003       2544  0020301179  APR 14, 2004    CLE @ NYK  W   35    8
1     22003       2544  0020301162  APR 12, 2004  CLE vs. MIL  W   45    9
2     22003       2544  0020301151  APR 10, 2004  CLE vs. MIA  W   32    4
3     22003       2544  0020301137  APR 09, 2004    CLE @ MIA  L   42    6
4     22003       2544  0020301128  APR 07, 2004    CLE @ MEM  L   36    4

   FGA  FG_PCT  ...  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  \
0   17   0.471  ...    1    5    3    0    5   1   17          -6
1   20   0.450  ...    7    9    2    0    1   1   27          11
2   11   0.364  ...    3   11    0    0    2   3   10          14
3   14   0.429  ...    7    8    1    0    8   2   24         -16
4   11   0.364  ...    3    5    3    0    2   4   14         -11

   VIDEO_AVAILABLE   SEASON
0                0  2003-04
1                0  2003-04
2                0  2003-04
3                0  2003-04
4                0  2003-04

[5 rows x 28 columns]
Index(['SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP', 'WL',
       'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE', 'SEASON'],
      dtype='object')

In [ ]:
regular_season_career.to_csv("LeBron_Regular_Season_Career_Game_Logs.csv", index=False)
playoff_career.to_csv("LeBron_Playoff_Career_Game_Logs.csv", index=False)

In [2]:
regular_season_career = pd.read_csv("LeBron_Regular_Season_Career_Game_Logs.csv")
playoff_career = pd.read_csv("LeBron_Playoff_Career_Game_Logs.csv")

In [8]:
regular_season_career.head()

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SEASON
0,22003,2544,20301179,"APR 14, 2004",CLE @ NYK,W,35,8,17,0.471,...,1,5,3,0,5,1,17,-6,0,2003-04
1,22003,2544,20301162,"APR 12, 2004",CLE vs. MIL,W,45,9,20,0.450,...,7,9,2,0,1,1,27,11,0,2003-04
2,22003,2544,20301151,"APR 10, 2004",CLE vs. MIA,W,32,4,11,0.364,...,3,11,0,0,2,3,10,14,0,2003-04
3,22003,2544,20301137,"APR 09, 2004",CLE @ MIA,L,42,6,14,0.429,...,7,8,1,0,8,2,24,-16,0,2003-04
4,22003,2544,20301128,"APR 07, 2004",CLE @ MEM,L,36,4,11,0.364,...,3,5,3,0,2,4,14,-11,0,2003-04

In [4]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from sqlalchemy import text

# parameters
# !!! Please change below information with your local information
host_ip = "3.16.186.38" # Use your own EC2 instance IP address.
id = "test1" # Use your 'test1' username you created in Lab 10.
pw = "Test1234#"  # Use your 'Test1234#' password you created in Lab 10.

# connect to mysql server
url = URL.create(
    drivername="mysql+pymysql",
    host=host_ip,
    port=3306,
    username= id,
    password=pw)

sqlEngine = create_engine(url)
sql_connection = sqlEngine.connect()

In [5]:
sql_connection.execute(text('DROP DATABASE IF EXISTS LebronDatabase'))

In [6]:
# Make a new database. For your project, make sure you only run this step once at the beginning. You must be able to see the database in Workbench after running this command.
sql_connection.execute(text("CREATE DATABASE IF NOT EXISTS LebronDatabase"))

In [7]:
db_url = URL.create(
    drivername="mysql+pymysql",
    host=host_ip,
    port=3306,
    username=id,
    password=pw,
    database="LebronDatabase"
)

db_engine = create_engine(db_url)

In [ ]:

regular_season_career.to_sql(name='RegularBoxScores', con=db_engine, if_exists='replace')

1561

In [10]:
playoff_career.to_sql(name='PlayoffBoxScores', con=db_engine, if_exists='replace')

287

In [16]:
regular_df = pd.read_sql("SELECT * FROM LebronDatabase.RegularBoxScores", db_engine)
playoff_df = pd.read_sql("SELECT * FROM LebronDatabase.PlayoffBoxScores", db_engine)

print(regular_df.head())

   index  SEASON_ID  Player_ID   Game_ID     GAME_DATE      MATCHUP WL  MIN  \
0      0      22003       2544  20301179  APR 14, 2004    CLE @ NYK  W   35
1      1      22003       2544  20301162  APR 12, 2004  CLE vs. MIL  W   45
2      2      22003       2544  20301151  APR 10, 2004  CLE vs. MIA  W   32
3      3      22003       2544  20301137  APR 09, 2004    CLE @ MIA  L   42
4      4      22003       2544  20301128  APR 07, 2004    CLE @ MEM  L   36

   FGM  FGA  ...  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  \
0    8   17  ...    1    5    3    0    5   1   17          -6
1    9   20  ...    7    9    2    0    1   1   27          11
2    4   11  ...    3   11    0    0    2   3   10          14
3    6   14  ...    7    8    1    0    8   2   24         -16
4    4   11  ...    3    5    3    0    2   4   14         -11

   VIDEO_AVAILABLE   SEASON
0                0  2003-04
1                0  2003-04
2                0  2003-04
3                0  2003-04
4                0  2003-04

[5 rows x 29 columns]

In [14]:
regular_df.columns

Index(['index', 'SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP',
       'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM',
       'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE', 'SEASON'],
      dtype='object')

In [ ]:
playoff_df.columns

Index(['index', 'SEASON_ID', 'Player_ID', 'Game_ID', 'GAME_DATE', 'MATCHUP',
       'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM',
       'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV',
       'PF', 'PTS', 'PLUS_MINUS', 'VIDEO_AVAILABLE', 'SEASON'],
      dtype='object')

In [20]:
regular_df['Season_Type'] = 'Regular'
playoff_df['Season_Type'] = 'Playoffs'
games = pd.concat([regular_df, playoff_df], ignore_index=True)

,index,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,...,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE,SEASON,Season_Type
0,0,22003,2544,20301179,"APR 14, 2004",CLE @ NYK,W,35,8,17,...,5,3,0,5,1,17,-6,0,2003-04,Regular
1,1,22003,2544,20301162,"APR 12, 2004",CLE vs. MIL,W,45,9,20,...,9,2,0,1,1,27,11,0,2003-04,Regular
2,2,22003,2544,20301151,"APR 10, 2004",CLE vs. MIA,W,32,4,11,...,11,0,0,2,3,10,14,0,2003-04,Regular
3,3,22003,2544,20301137,"APR 09, 2004",CLE @ MIA,L,42,6,14,...,8,1,0,8,2,24,-16,0,2003-04,Regular
4,4,22003,2544,20301128,"APR 07, 2004",CLE @ MEM,L,36,4,11,...,5,3,0,2,4,14,-11,0,2003-04,Regular